In [93]:
# 라이브러리
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy as spst

# 한글폰트 지정(맑은고딕)
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

# 고해상도
%config InlineBackend.figure_format = 'retina'

In [94]:
data = pd.read_csv('df_data_chu.csv')
data.head(2)

   시간    연도  연휴 추석기준  연휴길이 출발지 도착지  소요시간(분)
0   0  2017  추석  D-3     1  서울  부산  274.466
1   1  2017  추석  D-3     1  서울  부산  260.141

In [95]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772 entries, 0 to 771
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시간       772 non-null    int64
 1   연도       772 non-null    int64
 2   연휴       772 non-null    object
 3   추석기준     772 non-null    object
 4   연휴길이     772 non-null    int64
 5   출발지      772 non-null    object
 6   도착지      772 non-null    object
 7   소요시간(분)  770 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 48.4+ KB

In [96]:
tmp = data.loc[(data['시간']==0) ,: ]
tmp.head(50)

     시간    연도  연휴 추석기준  연휴길이 출발지 도착지     소요시간(분)
0     0  2017  추석  D-3     1  서울  부산  274.466000
24    0  2017  추석  D-2     2  서울  부산  298.683000
48    0  2017  추석  D-1     3  서울  부산  355.149750
72    0  2017  추석    D     4  서울  부산  311.849500
96    0  2017  추석  D+1     5  서울  부산  360.060667
120   0  2017  추석  D+2     6  서울  부산  339.741000
144   0  2017  추석  D+3     7  서울  부산  265.266000
168   0  2018  추석  D-3     1  서울  부산  214.224500
192   0  2018  추석  D-2     2  서울  부산  289.741500
216   0  2018  추석  D-1     3  서울  부산  374.616333
240   0  2018  추석    D     4  서울  부산  255.433000
264   0  2018  추석  D+1     5  서울  부산  248.683000
287   0  2018  추석  D+2     6  서울  부산  251.933000
330   0  2019  추석  D-3     1  서울  부산  240.866000
354   0  2019  추석  D-2     2  서울  부산  280.758000
378   0  2019  추석  D-1     3  서울  부산  369.238667
402   0  2019  추석  D+2     6  서울  부산  285.675000
423   0  2019  추석  D+3     7  서울  부산  267.433000
447   0  2020  추석  D-3     1  서울  부산  240.916000
468   0  2020  추석  D-2     2  서울  부산  252.091500
492   0  2020  추석  D-1     3  서울  부산  285.866500
516   0  2020  추석    D     4  서울  부산  262.441500
540   0  2020  추석  D+1     5  서울  부산  346.891000
586   0  2020  추석  D+3     7  서울  부산  345.433000
610   0  2021  추석  D-3     1  서울  부산  257.041500
634   0  2021  추석  D-2     2  서울  부산  290.900000
658   0  2021  추석  D-1     3  서울  부산  228.716000
682   0  2021  추석    D     4  서울  부산  219.458000
706   0  2021  추석  D+1     5  서울  부산  269.300000
730   0  2021  추석  D+2     6  서울  부산  225.483000
749   0  2021  추석  D+3     7  서울  부산  233.333000

In [97]:
data['날짜'] = 0
# data['날짜'].astype
data.head(2)

   시간    연도  연휴 추석기준  연휴길이 출발지 도착지  소요시간(분)  날짜
0   0  2017  추석  D-3     1  서울  부산  274.466   0
1   1  2017  추석  D-3     1  서울  부산  260.141   0

In [98]:
year_list = [2017,2018,2019,2020,2021]
D_day_list =['2017-10-04','2018-09-24','2019-09-13','2020-10-01','2021-09-21']
for num in range(len(year_list)) :
    data.loc[(data['연도'] == year_list[num] ) & (data['추석기준']=='D'),'날짜'] = D_day_list[num]
    
tmp = data.loc[data['추석기준'] =='D',:]
tmp.tail(100)

     시간    연도  연휴 추석기준  연휴길이 출발지 도착지     소요시간(분)          날짜
72    0  2017  추석    D     4  서울  부산  311.849500  2017-10-04
73    1  2017  추석    D     4  서울  부산  289.928750  2017-10-04
74    2  2017  추석    D     4  서울  부산  293.270750  2017-10-04
75    3  2017  추석    D     4  서울  부산  282.888333  2017-10-04
76    4  2017  추석    D     4  서울  부산  273.272000  2017-10-04
..   ..   ...  ..  ...   ...  ..  ..         ...         ...
701  19  2021  추석    D     4  서울  부산  319.033333  2021-09-21
702  20  2021  추석    D     4  서울  부산  348.916000  2021-09-21
703  21  2021  추석    D     4  서울  부산  303.500000  2021-09-21
704  22  2021  추석    D     4  서울  부산  286.183000  2021-09-21
705  23  2021  추석    D     4  서울  부산  279.633000  2021-09-21

[96 rows x 9 columns]

In [99]:
data['날짜'].value_counts()

0             676
2017-10-04     24
2018-09-24     24
2020-10-01     24
2021-09-21     24
Name: 날짜, dtype: int64

In [100]:
data.tail(50)

     시간    연도  연휴 추석기준  연휴길이 출발지 도착지     소요시간(분) 날짜
722  16  2021  추석  D+1     5  서울  부산  258.749667  0
723  17  2021  추석  D+1     5  서울  부산  276.816000  0
724  18  2021  추석  D+1     5  서울  부산  269.541500  0
725  19  2021  추석  D+1     5  서울  부산  267.333000  0
726  20  2021  추석  D+1     5  서울  부산  250.208000  0
727  21  2021  추석  D+1     5  서울  부산  277.483000  0
728  22  2021  추석  D+1     5  서울  부산  270.683000  0
729  23  2021  추석  D+1     5  서울  부산  263.866000  0
730   0  2021  추석  D+2     6  서울  부산  225.483000  0
731   5  2021  추석  D+2     6  서울  부산         NaN  0
732   6  2021  추석  D+2     6  서울  부산  227.116000  0
733   7  2021  추석  D+2     6  서울  부산  236.983000  0
734   8  2021  추석  D+2     6  서울  부산  218.400000  0
735   9  2021  추석  D+2     6  서울  부산  215.458000  0
736  10  2021  추석  D+2     6  서울  부산  225.949500  0
737  11  2021  추석  D+2     6  서울  부산  236.324500  0
738  12  2021  추석  D+2     6  서울  부산  240.983000  0
739  13  2021  추석  D+2     6  서울  부산  243.108000  0
740  14  2021  추석  D+2     6  서울  부산  249.094000  0
741  15  2021  추석  D+2     6  서울  부산  259.149667  0
742  16  2021  추석  D+2     6  서울  부산  263.166500  0
743  17  2021  추석  D+2     6  서울  부산  243.616000  0
744  18  2021  추석  D+2     6  서울  부산  254.216000  0
745  19  2021  추석  D+2     6  서울  부산  256.516000  0
746  20  2021  추석  D+2     6  서울  부산  258.800000  0
747  21  2021  추석  D+2     6  서울  부산  265.433000  0
748  22  2021  추석  D+2     6  서울  부산  300.650000  0
749   0  2021  추석  D+3     7  서울  부산  233.333000  0
750   1  2021  추석  D+3     7  서울  부산  293.716000  0
751   2  2021  추석  D+3     7  서울  부산  281.900000  0
752   3  2021  추석  D+3     7  서울  부산  270.100000  0
753   4  2021  추석  D+3     7  서울  부산  258.283000  0
754   5  2021  추석  D+3     7  서울  부산  246.466000  0
755   6  2021  추석  D+3     7  서울  부산  253.183000  0
756   7  2021  추석  D+3     7  서울  부산  266.566000  0
757   8  2021  추석  D+3     7  서울  부산  269.316000  0
758   9  2021  추석  D+3     7  서울  부산  266.549500  0
759  10  2021  추석  D+3     7  서울  부산  264.216500  0
760  11  2021  추석  D+3     7  서울  부산  269.641000  0
761  12  2021  추석  D+3     7  서울  부산  271.266000  0
762  13  2021  추석  D+3     7  서울  부산  266.341500  0
763  14  2021  추석  D+3     7  서울  부산  263.083000  0
764  15  2021  추석  D+3     7  서울  부산  272.441000  0
765  16  2021  추석  D+3     7  서울  부산  271.983000  0
766  17  2021  추석  D+3     7  서울  부산  279.772000  0
767  18  2021  추석  D+3     7  서울  부산  277.775000  0
768  19  2021  추석  D+3     7  서울  부산  286.816000  0
769  20  2021  추석  D+3     7  서울  부산  301.116000  0
770  21  2021  추석  D+3     7  서울  부산  315.433000  0
771  22  2021  추석  D+3     7  서울  부산  329.733000  0

In [101]:
data.shape

(772, 9)

In [102]:
data.drop('날짜',axis =1,inplace=True )
data.head(1)

   시간    연도  연휴 추석기준  연휴길이 출발지 도착지  소요시간(분)
0   0  2017  추석  D-3     1  서울  부산  274.466

In [103]:
tmp2 = data.copy()

In [104]:
tmp = pd.read_csv('df_date.csv')
tmp.drop('Unnamed: 0',axis=1 ,inplace =True)
tmp.head(2)

     연도 추석기준          날짜 요일  구분
0  2017  D-3  2017-10-01  일  연휴
1  2017  D-2  2017-10-02  월  평일

In [105]:
tmp = pd.merge(tmp2,tmp, how='outer' , on = ['연도','추석기준'])
tmp.head(50)

# ['연도', '날짜', '시간', '연휴', '추석기준', '연휴길이','출발지', '도착지', '소요시간(분)','요일','구분']

      시간    연도  연휴 추석기준  연휴길이 출발지 도착지     소요시간(분)          날짜 요일  구분
0    0.0  2017  추석  D-3   1.0  서울  부산  274.466000  2017-10-01  일  연휴
1    1.0  2017  추석  D-3   1.0  서울  부산  260.141000  2017-10-01  일  연휴
2    2.0  2017  추석  D-3   1.0  서울  부산  269.225000  2017-10-01  일  연휴
3    3.0  2017  추석  D-3   1.0  서울  부산  263.721667  2017-10-01  일  연휴
4    4.0  2017  추석  D-3   1.0  서울  부산  264.088667  2017-10-01  일  연휴
5    5.0  2017  추석  D-3   1.0  서울  부산  262.533000  2017-10-01  일  연휴
6    6.0  2017  추석  D-3   1.0  서울  부산  277.833000  2017-10-01  일  연휴
7    7.0  2017  추석  D-3   1.0  서울  부산  275.887000  2017-10-01  일  연휴
8    8.0  2017  추석  D-3   1.0  서울  부산  281.772000  2017-10-01  일  연휴
9    9.0  2017  추석  D-3   1.0  서울  부산  282.099750  2017-10-01  일  연휴
10  10.0  2017  추석  D-3   1.0  서울  부산  292.055333  2017-10-01  일  연휴
11  11.0  2017  추석  D-3   1.0  서울  부산  287.999667  2017-10-01  일  연휴
12  12.0  2017  추석  D-3   1.0  서울  부산  289.827333  2017-10-01  일  연휴
13  13.0  2017  추석  D-3   1.0  서울  부산  314.944333  2017-10-01  일  연휴
14  14.0  2017  추석  D-3   1.0  서울  부산  294.244000  2017-10-01  일  연휴
15  15.0  2017  추석  D-3   1.0  서울  부산  303.355000  2017-10-01  일  연휴
16  16.0  2017  추석  D-3   1.0  서울  부산  340.433333  2017-10-01  일  연휴
17  17.0  2017  추석  D-3   1.0  서울  부산  320.024500  2017-10-01  일  연휴
18  18.0  2017  추석  D-3   1.0  서울  부산  313.299500  2017-10-01  일  연휴
19  19.0  2017  추석  D-3   1.0  서울  부산  307.966500  2017-10-01  일  연휴
20  20.0  2017  추석  D-3   1.0  서울  부산  329.766000  2017-10-01  일  연휴
21  21.0  2017  추석  D-3   1.0  서울  부산  325.933000  2017-10-01  일  연휴
22  22.0  2017  추석  D-3   1.0  서울  부산  325.433000  2017-10-01  일  연휴
23  23.0  2017  추석  D-3   1.0  서울  부산  357.258000  2017-10-01  일  연휴
24   0.0  2017  추석  D-2   2.0  서울  부산  298.683000  2017-10-02  월  평일
25   1.0  2017  추석  D-2   2.0  서울  부산  297.883000  2017-10-02  월  평일
26   2.0  2017  추석  D-2   2.0  서울  부산  288.466000  2017-10-02  월  평일
27   3.0  2017  추석  D-2   2.0  서울  부산  292.008000  2017-10-02  월  평일
28   4.0  2017  추석  D-2   2.0  서울  부산  279.299500  2017-10-02  월  평일
29   5.0  2017  추석  D-2   2.0  서울  부산  275.349500  2017-10-02  월  평일
30   6.0  2017  추석  D-2   2.0  서울  부산  279.558000  2017-10-02  월  평일
31   7.0  2017  추석  D-2   2.0  서울  부산  359.760667  2017-10-02  월  평일
32   8.0  2017  추석  D-2   2.0  서울  부산  348.227333  2017-10-02  월  평일
33   9.0  2017  추석  D-2   2.0  서울  부산  349.472000  2017-10-02  월  평일
34  10.0  2017  추석  D-2   2.0  서울  부산  345.921667  2017-10-02  월  평일
35  11.0  2017  추석  D-2   2.0  서울  부산  351.744000  2017-10-02  월  평일
36  12.0  2017  추석  D-2   2.0  서울  부산  367.872000  2017-10-02  월  평일
37  13.0  2017  추석  D-2   2.0  서울  부산  379.672000  2017-10-02  월  평일
38  14.0  2017  추석  D-2   2.0  서울  부산  389.366333  2017-10-02  월  평일
39  15.0  2017  추석  D-2   2.0  서울  부산  370.208000  2017-10-02  월  평일
40  16.0  2017  추석  D-2   2.0  서울  부산  374.333000  2017-10-02  월  평일
41  17.0  2017  추석  D-2   2.0  서울  부산  380.972000  2017-10-02  월  평일
42  18.0  2017  추석  D-2   2.0  서울  부산  360.683000  2017-10-02  월  평일
43  19.0  2017  추석  D-2   2.0  서울  부산  372.316000  2017-10-02  월  평일
44  20.0  2017  추석  D-2   2.0  서울  부산  425.008000  2017-10-02  월  평일
45  21.0  2017  추석  D-2   2.0  서울  부산  416.983000  2017-10-02  월  평일
46  22.0  2017  추석  D-2   2.0  서울  부산  418.633000  2017-10-02  월  평일
47  23.0  2017  추석  D-2   2.0  서울  부산  465.733000  2017-10-02  월  평일
48   0.0  2017  추석  D-1   3.0  서울  부산  355.149750  2017-10-03  화  연휴
49   1.0  2017  추석  D-1   3.0  서울  부산  338.237250  2017-10-03  화  연휴

In [106]:
tmp.columns

Index(['시간', '연도', '연휴', '추석기준', '연휴길이', '출발지', '도착지', '소요시간(분)', '날짜', '요일',
       '구분'],
      dtype='object')

In [107]:
data_tmp = tmp[['연도', '날짜', '시간', '연휴', '추석기준', '연휴길이','출발지', '도착지', '소요시간(분)','요일','구분']]
data_tmp.head()

     연도          날짜   시간  연휴 추석기준  연휴길이 출발지 도착지     소요시간(분) 요일  구분
0  2017  2017-10-01  0.0  추석  D-3   1.0  서울  부산  274.466000  일  연휴
1  2017  2017-10-01  1.0  추석  D-3   1.0  서울  부산  260.141000  일  연휴
2  2017  2017-10-01  2.0  추석  D-3   1.0  서울  부산  269.225000  일  연휴
3  2017  2017-10-01  3.0  추석  D-3   1.0  서울  부산  263.721667  일  연휴
4  2017  2017-10-01  4.0  추석  D-3   1.0  서울  부산  264.088667  일  연휴

In [108]:
data_tmp.isna().sum()

연도         0
날짜         0
시간         1
연휴         1
추석기준       0
연휴길이       1
출발지        1
도착지        1
소요시간(분)    3
요일         0
구분         0
dtype: int64

In [109]:
data_tmp.drop(axis=0,index = 772,inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_15696\3002617780.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_tmp.drop(axis=0,index = 772,inplace=True)

In [110]:
data_tmp.isna().sum()

연도         0
날짜         0
시간         0
연휴         0
추석기준       0
연휴길이       0
출발지        0
도착지        0
소요시간(분)    2
요일         0
구분         0
dtype: int64

In [69]:
data_tmp.tail()

       연도          날짜    시간  연휴 추석기준  연휴길이 출발지 도착지  소요시간(분) 요일  구분
767  2021  2021-09-24  18.0  추석  D+3   7.0  서울  부산  277.775  금  평일
768  2021  2021-09-24  19.0  추석  D+3   7.0  서울  부산  286.816  금  평일
769  2021  2021-09-24  20.0  추석  D+3   7.0  서울  부산  301.116  금  평일
770  2021  2021-09-24  21.0  추석  D+3   7.0  서울  부산  315.433  금  평일
771  2021  2021-09-24  22.0  추석  D+3   7.0  서울  부산  329.733  금  평일

In [111]:
data_tmp.to_csv('df_merged_date&chu.csv')

     연도          날짜   시간  연휴 추석기준  연휴길이 출발지 도착지     소요시간(분) 요일  구분
0  2017  2017-10-01  0.0  추석  D-3   1.0  서울  부산  274.466000  일  연휴
1  2017  2017-10-01  1.0  추석  D-3   1.0  서울  부산  260.141000  일  연휴
2  2017  2017-10-01  2.0  추석  D-3   1.0  서울  부산  269.225000  일  연휴
3  2017  2017-10-01  3.0  추석  D-3   1.0  서울  부산  263.721667  일  연휴
4  2017  2017-10-01  4.0  추석  D-3   1.0  서울  부산  264.088667  일  연휴